trigger:
- master

variables:
  dockerRegistryServiceConnection: 'ACR-Service-Connection'
  imageRepository: 'springboot-app'
  containerRegistry: 'springbootacr.azurecr.io'
  dockerfilePath: 'Dockerfile'
  tag: '$(Build.BuildId)'
  azureSubscription: 'Azure-DevOps-Service-Connection'
  webAppName: 'java-spring-boot-container'

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: Build
    pool:
      name: self-hosted-pool1
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'

    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy Container
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      name: self-hosted-pool1
    steps:
    - task: AzureWebAppContainer@1
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(webAppName)
        containers: |
          $(containerRegistry)/$(imageRepository):latest
