trigger:
- master

variables:
  azureSubscription: 'Azure-DevOps-Service-Connection'
  webAppName: 'java-spring-boot'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build
  jobs:
  - job: BuildGradle
    pool:
      name: self-hosted-pool1
    steps:
    - task: Gradle@2
      displayName: Build Spring Boot JAR
      inputs:
        gradleWrapperFile: 'gradlew'
        tasks: 'clean build'
        publishJUnitResults: false

    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: '**/build/libs/*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: 'drop'

- stage: Deploy
  displayName: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeployWebApp
    environment: development
    pool:
      name: self-hosted-pool1
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'drop'

          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureSubscription)
              appType: webAppLinux
              appName: $(webAppName)
              package: '$(System.ArtifactsDirectory)/**/*.jar'
