trigger:
- master

variables:
  dockerRegistryServiceConnection: 'ACR-Service-Connection'
  imageRepository: 'springboot-app'
  containerRegistry: 'springbootacr.azurecr.io'
  dockerfilePath: 'Dockerfile'
  tag: '$(Build.BuildId)'
  azureSubscription: 'Azure-DevOps-Service-Connection'
  webAppName: 'java-spring-boot-container'

pool:
  name: self-hosted-pool1

steps:
# 1. Build JAR with Maven
- task: Maven@3
  displayName: 'Build Spring Boot JAR'
  inputs:
    mavenPomFile: 'app/pom.xml'
    goals: 'clean package -DskipTests'

# 2. Build & Push Docker Image
- task: Docker@2
  displayName: 'Build and Push Docker Image'
  inputs:
    command: buildAndPush
    repository: $(imageRepository)
    dockerfile: $(dockerfilePath)
    containerRegistry: $(dockerRegistryServiceConnection)
    tags: |
      $(tag)
      latest

# 3. Deploy Container to Azure App Service
- task: AzureWebAppContainer@1
  displayName: 'Deploy to Azure Web App (Container)'
  inputs:
    azureSubscription: $(azureSubscription)
    appName: $(webAppName)
    containers: |
      $(containerRegistry)/$(imageRepository):latest
