trigger:
- master

variables:
  azureSubscription: 'Azure-DevOps-Service-Connection'
  webAppName: 'java-spring-boot'

stages:
# ================= BUILD STAGE =================
- stage: Build
  displayName: Build stage
  jobs:
  - job: BuildJob
    displayName: Maven Package and Publish Artifact
    pool:
      name: self-hosted-pool1

    steps:
    - task: Maven@3
      displayName: 'Maven Package'
      inputs:
        mavenPomFile: 'app/pom.xml'
        goals: 'clean package'

    - task: PublishPipelineArtifact@1
      displayName: 'Publish JAR Artifact'
      inputs:
        targetPath: 'app/target'
        artifact: 'drop'

# ================= DEPLOY STAGE =================
- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build
  condition: succeeded()

  jobs:
  - deployment: DeployLinuxWebApp
    displayName: Deploy Linux Web App
    environment: 'development'
    pool:
      name: self-hosted-pool1

    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: 'Download Artifact'
            inputs:
              artifact: 'drop'
              path: '$(Pipeline.Workspace)/drop'

          - task: AzureWebApp@1
            displayName: 'Deploy Spring Boot JAR'
            inputs:
              azureSubscription: $(azureSubscription)
              appType: 'webAppLinux'
              appName: $(webAppName)
              package: '$(Pipeline.Workspace)/drop/*.jar'
