pool:
  name: self-hosted-pool1

steps:
# 1. Build JAR
- task: Maven@3
  displayName: 'Build Spring Boot JAR'
  inputs:
    mavenPomFile: 'app/pom.xml'
    goals: 'clean package -DskipTests'

# 2. Docker Build & Push
- task: Docker@2
  displayName: 'Build and Push Docker Image'
  inputs:
    command: buildAndPush
    repository: $(imageRepository)
    dockerfile: $(dockerfilePath)
    containerRegistry: $(dockerRegistryServiceConnection)
    tags: |
      $(tag)
      latest

# 3. Deploy to App Service
- task: AzureWebAppContainer@1
  displayName: 'Deploy Container'
  inputs:
    azureSubscription: $(azureSubscription)
    appName: $(webAppName)
    containers: |
      $(containerRegistry)/$(imageRepository):latest
